.sect {
  margin-top:40px;
}

.loading {
  visibility:hidden;
}

.album-holder {
  margin:auto;
  position:relative;
  width:250px;
}

.album-holder:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.album-holder-inner{
	position:absolute ;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.album-art{
  width:100%;
}

.place-holder{
	background-color:black;
}

@media (min-width: 768px) {
  .album-holder{
    width:100%;
  }
}
